# Ignore DS_Store system files
*.DS_Store
/analyses/random_dots/archive
/analyses/random_dots/misc/fano_factor
/dynamics/archive
/util/archive
/models/toymodels2d/archive
/models/twoarearnn/archive










